<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mini E-Commerce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <div class="left">
        <a href="/">Home</a>
        <a href="/cart">Cart</a>
    </div>

    <div class="right">
        {% if session.get('username') %}
            <span style="color:white; margin-right:15px;">
                Hi, {{ session.get('username') }}
            </span>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>
</nav>

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div style="background:#d4edda; padding:10px; border-radius:5px; margin-bottom:15px;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>
